<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <!-- This env var set by run-gatling script -->
        <file>${failedReqLog}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <!-- Log ONLY FAILED HTTP request and responses -->
   <!--
    <logger name="io.gatling.http.ahc" additivity="false" level="DEBUG">
        <appender-ref ref="ERROR_LOG" />
    </logger>
    <logger name="io.gatling.http.response" additivity="false" level="DEBUG">
        <appender-ref ref="ERROR_LOG" />
    </logger>
   -->

    <!-- Uncomment for logging ALL HTTP request and responses -->
    <logger name="io.gatling.http.ahc" level="FATAL" />
    <logger name="io.gatling.http.response" level="FATAL" />
    <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
    <logger name="io.gatling.http.ahc" level="FATAL" /> -->
    <logger name="io.gatling.http.response" level="FATAL" /> -->
    <root level="FATAL">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
